@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-xl font-bold;
}

h5 {
    @apply text-lg font-bold;
}

h6 {
    @apply text-base font-bold;
}

.detail-block {
    grid-template-areas: "icon name name" "icon details details";
    grid-template-columns: 30px auto auto;
    .detail-block-icon {
        grid-area: icon;
    }
    .detail-block-name {
        grid-area: name;
    }
    .detail-block-details {
        grid-area: details;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.35s ease;
    position: absolute;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}